.header {
  padding: 1.5rem 0;
  background-color: $color-primary;
  color: $color-secondary;

  &__box {
    font-weight: 700;
    padding: 0 2rem;
  }

  &__logo {
    font-size: 2rem;
  }

  .cart {
    &__btn {
      cursor: pointer;
    }

    &__icon {
      width: 3rem;
      height: 3rem;
    }

    &__badge {
      font-size: 1.2rem;
      color: $color-grey-light-1;
      top: -8px;
      right: -12px;
      width: 2rem;
      height: 2rem;
      background-color: $warning-color;
    }
  }
}


// .cart__list {
//   list-style: none;
//   background-color: $color-grey-light-1;
//   padding: 2rem;
//   position: absolute;
//   box-shadow: $secondary-shadow;
//   top: 3rem;
//   right: -1rem;
//   width: 30vw;
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
//   border-radius: 3px;
// }

// .cart__item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 2rem;
// }

// .cart__item-img {
//   height: 4rem;
//   display: block;
//   border-radius: 3px;
// }

// .cart__item-text {
//   margin-right: auto;
//   text-transform: capitalize;
//   font-size: 1.4rem;
//   line-height: 1.5;
// }

// .cart__item-head {
//   font-size: 1.6rem;
// }

// .cart__btn-delete {
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
//   font-size: 3rem;
//   font-weight: 300;
//   transition: $base-transition;
// }

// .cart__btn-delete:hover {
//   color: $warning-color;
// }

// .cart_empty {
//   text-align: center;
//   font-size: 1.4rem;
//   text-transform: capitalize;
// }
