.product-card {
  background-color: $color-grey-light-1;
  border-radius: 3px;
  position: relative;
  overflow: hidden;

  &__label {
    position: absolute;
    background-color: #000;
    color: white;
    padding: 0 6rem;
    transform: rotate(45deg);
    top: 25px;
    right: -47px;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    z-index: 10;

    &-blue {
      background-color: $blue-color;
    }

    &-green {
      background-color: $green-color;
    }

    &-gold {
      background-color: $gold-color;
    }
  }

  &__about-box {
    padding: 2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.actions-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
