.product-card {
  background-color: $color-grey-light-1;
  border-radius: 3px;

  &__about-box {
    padding: 2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.actions-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 80%;
}