// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-light: #cfa775;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$warning-color: red;

$blue-color: #337AB7;
$green-color: #5CB85C;
$gold-color: #F0AD4E;

// shadow
$primary-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
$secondary-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);

// transition
$base-transition: all 0.2s;
$second-transition: all 0.6s;
